body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(60deg, #142850, #27496d, #0c7b93, #0183a0);
    background-size: 600%, 100%;
    animation: gradient 10s ease-in-out infinite;
    animation-direction: alternate;
}

@keyframes gradient {
    0% {
        background-position: 0%
    }
    100% {
        background-position: 100%
    }
}

.sign-up-form {
    width: 300px;
    background: rgba(183, 0, 255, 0);
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    color: aliceblue;
}

.sign-up-form h1 {
    color: aliceblue;
    margin-bottom: 30px;
    font-size: 40px;
}

.input-box {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #1c8adb;
    outline: none;
}

.welcome {
    width: 300px;
    background: #1c8bdb00;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    color: aliceblue;
}

.parse {
    width: 10%;
    background: rgba(255, 255, 255, 0);
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}

.parse-btn {
    background-color: #1c8adb;
}

button {
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.sign-up-btn {
    background-color: #1c8adb;
}

.sign-in-form {
    width: 300px;
    background: rgba(255, 255, 255, 0);
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}

.sign-in-form h1 {
    color: aliceblue;
    margin-bottom: 30px;
    font-size: 40px;
}

.sign-in-btn {
    background-color: #1c8adb;
}

.error {
    width: 80%;
    border-radius: 25px;
    background: #ee7b7b;
    padding: 10px;
    margin: 8% auto 0;
    text-align: center;
    color: #ffffff;
}

.or {
    color: aliceblue;
}

a:link {
    color: rgb(133, 192, 251);
}

.new-button {
    display: inline-block;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #9c27b0;
    font-size: 16px;
    color: #fff;
}

input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 6px;
    left: 0;
    font-size: 15px;
    color: rgb(153, 153, 153);
}

.button-wrap {
    position: relative;
}

.upload-confirm {
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 200px;
    padding-right: 200px;
}